<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant Invitaton | Easy Invoice Management</title>
</head>
<body>
    <div class="container">
        <h3>Hi {{ username }},</h3>
        <p class="text-gray">Your customer has welcomed you to view accounts payable invoices stored securely in the cloud.</p>
        <p class="text-gray">You can search for any invoice you wish.</p>
        <p class="text-gray">Please note the time for access is limited to 36 hours from the moment you get this email.</p>
        <p class="text-gray">Follow the link below.</p>
        <a href="https://easyinvoicemanager.com/accountant/view-invoice?token={{token}}">View Invoices</a>
        <h4>Regards,</h4>
        <h4>Easy Invoice Manager</h4>
    </div>
</body>
</html>
