<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Invitaton | Easy Invoice Management</title>
</head>
<body>
    <div class="container">
        <p class="text-gray">Dear [Staff Member],</p><br>
        <p class="text-gray">You've been personally invited by [Manager's Name] to join our Accounts Payable team. 
            Secure your role now by setting up your account and creating a password.<a href="https://easyinvoicemanager.com/create-password">Click here</a>. We're excited to have you contribute to our success!
        </p><br>
        <p>Warm regards,<br>[Your Company Name]</p>
    </div>
</body>
</html>