{% macro invoice_card(invoice_data) %}

<div class="col-span-1 bg-white rounded-lg divide-y divide-gray-200 border border-gray-200 hover:border-blue-300 hover:cursor-pointer">
    <a href="/invoices/{{invoice_data.id}}" class="w-full flex items-center justify-between p-6 space-x-6">
        <div class="flex-1 truncate">
            <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-bold truncate">{{invoice_data.vendor_name}}</h3>
                <span class="flex-shrink-0 inline-block px-2 py-0.5 text-blue-800 text-xs font-medium bg-blue-100 rounded-full">due {{invoice_data.humanized_due_date}}</span>
            </div>
            <p class="mt-1 text-gray-500 text-sm truncate">Invoice No. {{invoice_data.invoice_id}}</p>
        </div>
        {% if invoice_data.currency %}
            <span class="text-lg font-extrabold">{{invoice_data.currency}}{{invoice_data.amount_due}}</span>
        {% else %}
            <span class="text-lg font-extrabold">{{invoice_data.currency}}{{invoice_data.amount_due}}</span>
        {% endif%}
      </a>
</div>

{% endmacro %}
