{% macro invoice_dropdown_menu(invoice_data, user_type=None, is_waiting_for_approval=None) %}
{% if user_type != 'accountant' %}
<div x-data="{
    show: false,
    deleteInvoice() {
        if (!confirm('Are you sure you would like to delete invoice: {{invoice_data.invoice_id}}')) return

        fetch('/invoices/{{invoice_data.id}}', {
            method: 'DELETE',
        })
        .then(response => {
            if (response.ok) {
                document.location.href = '/?deleted=true'
            } else {
                alert(`Something went wrong: ${response.status} - ${response.statusText}`);
            }
        })
    },
    cancelApprovalRequest() {
        if (!confirm('Are you sure you would like to cancel approval request: {{invoice_data.invoice_id}}')) return

        fetch('/approval/cancel/{{invoice_data.id}}', {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
                document.location.href = '/?deleted=true'
            } else {
                alert(`Something went wrong: ${response.status} - ${response.statusText}`);
            }
        })
    }
}">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative inline-block text-left">
        <div>
            <button @click="show=true" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                <span>Actions</span>
            </button>
        </div>

        <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
        <div
        x-cloak
        x-show="show"
        @click.away="show=false"
        class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
                <button @click="deleteInvoice()" type="submit" class="text-red-700 hover:bg-red-100 block w-full text-left px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Delete Invoice</button>
            </div>
        </div>
        {% if not invoice_data.is_approved and is_waiting_for_approval%}
            <div
            x-cloak
            x-show="show"
            @click.away="show=false"
            class="origin-top-right absolute right-0 mt-12 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <button @click="cancelApprovalRequest()" type="submit" class="text-red-700 hover:bg-red-100 block w-full text-left px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-4">Cancel Approval Request</button>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endmacro %}
