{% macro query_menu(request=None) %}

<div
  class="flex"
  x-data="{
  showFilterMenu: false,
  showSortMenu: false,
  currentUrl: new URL(window.location.href),
  go() {
    window.location.href = this.currentUrl.toString()
  },

  toggledDescVal () {
    if (this.currentUrl.searchParams.get('desc', 'True') == 'True') {
        return 'False'
    }
    return 'True'
  },
}"
>
  <!-- Filter Menu -->
  <div class="text-left relative">
    <div>
      <button
        x-on:click="showFilterMenu = !showFilterMenu"
        x-on:click.away="showFilterMenu = false"
        type="button"
        class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        Filter By
        <!-- Heroicon name: solid/chevron-down -->
        <svg
          class="-mr-1 ml-2 h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div
      x-cloak
      x-show="showFilterMenu"
      x-transition:enter="ease-linear duration-100"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition-opacity ease-linear duration-75"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      class="origin-top-right absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        {% if request.path == "/invoice-approvals-list" %}
        <span
          x-on:click="currentUrl.searchParams.set('filter_by', 'wfa'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
          >Waiting for Approval</span
        >
        <span
          x-on:click="currentUrl.searchParams.set('filter_by', 'approved'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
          >Approved</span
        >

        {% else %}
        <span
          x-on:click="currentUrl.searchParams.set('filter_by', 'all'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
          >All</span
        >
        <span
          x-on:click="currentUrl.searchParams.set('filter_by', 'paid'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
          >Paid</span
        >
        <span
          x-on:click="currentUrl.searchParams.set('filter_by', 'due'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-1"
          >Unpaid</span
        >
        {% endif %}
      </div>
    </div>
  </div>

  <div class="ml-2 text-left relative">
    <div>
      <button
        x-on:click="showSortMenu = !showSortMenu"
        x-on:click.away="showSortMenu = false"
        type="button"
        class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        Sort By
        <!-- Heroicon name: solid/chevron-down -->
        <svg
          class="-mr-1 ml-2 h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div
      x-cloak
      x-show="showSortMenu"
      x-transition:enter="ease-linear duration-100"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition-opacity ease-linear duration-75"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      class="origin-top-right absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <span
          x-on:click="currentUrl.searchParams.set('order_by', 'due_date'); currentUrl.searchParams.set('desc', 'True'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
          >Due Date</span
        >
        <span
          x-on:click="currentUrl.searchParams.set('order_by', 'amount_due'); currentUrl.searchParams.set('desc', 'True'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-1"
          >Amount Due</span
        >
        <span
          x-on:click="currentUrl.searchParams.set('order_by', 'created_on'); currentUrl.searchParams.set('desc', 'True'); go();"
          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-1"
          >Date Added</span
        >
      </div>
    </div>
  </div>

  <!-- Change Direction -->
  <div class="ml-2 text-left">
    <div>
      <button
        @click="currentUrl.searchParams.set('desc', toggledDescVal()); go();"
        type="button"
        class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
      >
        Flip Order
      </button>
    </div>
  </div>
</div>

{% endmacro %}
