{% macro skinny_sidebar() %}
<!-- Needs to be in flex container -->
<nav aria-label="sidebar" class="hidden md:block md:flex-shrink-0 h-screen overflow-hidden md:bg-zinc-700 md:overflow-y-auto">

    <!-- Your Account Page -->
    <div class="relative w-20 flex flex-col p-3 space-y-3">
        <a href="/inbox" class="text-zinc-400 hover:bg-zinc-800 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg">
            <span class="sr-only">Inbox</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>

    <div class="relative w-20 flex flex-col p-3 space-y-3">
        <a href="/settings/account" class="text-zinc-400 hover:bg-zinc-800 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg">
            <span class="sr-only">Your Account</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>

    <!-- Invoice Upload -->
    <div class="relative w-20 flex flex-col p-3 space-y-3">
        <a href="/inbox" class="text-zinc-400 hover:bg-zinc-800 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg">
            <span class="sr-only">Upload Invoice</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 18 18" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</nav>
{% endmacro %}
