{% extends "components/sidebar-base.html" %}
{% from "components/invoices/query-menu.html" import query_menu %}
{% from "components/invoices/invoice-table.html" import invoice_table %}
{% from "components/invoices/invoice-empty-state.html" import empty_state %}


{% block head %}
<title>Inbox | Easy Invoice Management</title>
{{ super() }}
{% endblock %}

{% block content %}
<main class="flex w-full h-screen overflow-y-scroll ">
    <div class="w-full p-8">
        <h2 class="font-extrabold text-3xl mb-5">Inbox</h2>
        {{ query_menu() }}

        {% if invoices %}
            {{invoice_table(invoices.values())}}
        {% else %}
            {{empty_state()}}
        {% endif %}
    </div>
</main>
{% endblock %}
