{% extends "components/simple-base.html" %}
{% from "components/marketing/footer.html" import marketing_footer %}
{% from "components/marketing/navbar.html" import marketing_navbar %}

{% block head %}
    <title>Data Policy | Easy Invoice Management</title>
    <meta name="robots" content="noindex, nofollow">
    {{ super() }}
{% endblock %}


{% block content %}
<div class="mt-6">
    {{marketing_navbar()}}
</div>


<main class="py-8" style="max-width: 800px; margin: 0 auto;">
    <div class="relative px-4 sm:px-6 lg:px-8">

        <div class="text-lg max-w-prose mx-auto">
            <h1>
                <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">Data Policy</span>
            </h1>
        </div>

        <div class="my-6 prose prose-indigo prose-lg text-gray-500 mx-auto">

            <p>Effective date: July 01, 2022</p>



            <p>This Privacy Notice applies to all Easy invoice manager, LLC (along with its affiliates, successors,
                and assigns, &ldquo;easy invoice manager) websites, applications, promotions, products and services
                (collectively, the &ldquo;easy invoice manager Service&rdquo; or the &ldquo;Service&rdquo;),
                including all those that link to this Privacy Notice, and describes how easy invoice manager
                collects, uses, shares, transfers, stores, retains, or otherwise processes your personal
                information. This Privacy Notice also applies to any surveys, rewards, promotions, sweepstakes,
                contests, referrals, or other marketing activities conducted by easy invoice manager or in
                connection with the easy invoice manager Service (collectively &ldquo;easy invoice manager
                Marketing&rdquo;). This Privacy Notice does not apply to any third party website or service that
                easy invoice manager does not own or control. Capitalized terms not defined in this Privacy Notice
                have the meanings given to them in easy invoice manager&rsquo;s Terms of Service. Please review this
                Privacy Notice carefully.</p>

            <p>Easy invoice manager will share your information only as described in this Privacy Notice, or as
                permitted by law. easy invoice manager will not sell, lease, rent, or trade your personal
                information to any third party for that party&rsquo;s marketing or promotional purposes, unless you
                give your consent.</p>

            <p>If you are an individual, or are acting on behalf of an individual, and obtained a easy invoice
                manager account primarily for personal family or household purposes, please read our Consumer
                Privacy Notice to understand our privacy practices and the privacy choices available to you.</p>

            <p>By continuing to use the Service or participating in easy invoice manager Marketing after being
                provided with this Privacy Notice, you consent to easy invoice manager&rsquo;s policies and
                practices as described herein.</p>

            <p>This Privacy Notice explains:</p>

            <p>Information we collect and the sources from which we collect it</p>

            <p>How we use the information we collect</p>

            <p>How we share the information we collect</p>

            <p>How long we retain information</p>

            <p>How to cancel or make changes to your easy invoice manager account</p>

            <p>Cookies and third party technologies</p>

            <p>Your choices and privacy rights</p>

            <p>How we protect the security of your personal information</p>

            <p>International transfers</p>

            <p>Notices to consumers</p>

            <p>Information for children under the age of 18</p>

            <p>Updates to this Privacy Notice</p>

            <p>How to contact us</p>

            <p>Supplemental Privacy Notice to California Consumers</p>

            <p>Supplemental Privacy Notice for Canadian Users</p>

            <p>Supplemental Privacy Notice for European and United Kingdom Residents</p>

            <p>Information we collect and the sources from which we collect it<br />
                easy invoice manager collects information about you from:</p>

            <p>you;</p>

            <p>your use of the Service or your participation in easy invoice manager Marketing; and</p>

            <p>third parties.</p>

            <p>Information that We Collect from You<br />
                Account information. When you sign up for a easy invoice manager account or register as a easy
                invoice manager User, we collect contact and identifying information about you, including but not
                limited to: your name; billing address; phone number; email; Tax Identification Number or Social
                Security Number (collectively, &ldquo;TIN&rdquo;); date of birth (natural persons);
                government-issued identification (natural persons); and Organization information, including company
                name and address, formation documents, business license, tax documents, phone number and business
                email address. We require you to choose a strong password, and may require you to provide device
                information to receive multi-factor authentication. We collect information from you when you use the
                Service, contact us for support, or provide us with feedback on the Service. As we introduce new
                products, services or features, we may collect new and different types of information from you when
                you use the Service or contact easy invoice manager in connection with your account.</p>

            <p>US PATRIOT Act. To help the U.S. government fight the funding of terrorism and money laundering
                activities, federal and state law requires financial institutions, including money services
                businesses like easy invoice manager, to obtain, verify, and record information that identifies
                every customer.</p>

            <p>What this means for you: When you use the Service, we will ask you for your name, address, date of
                birth, and other information that will allow us to identify you. We may also ask to see your
                driver&rsquo;s license or other identifying documents, such as business related documents. We will
                let you know if additional information is required.</p>

            <p>Financial information. When you use the easy invoice manager Service to make or receive payments, we
                collect certain financial information from you, such as bank routing and account information,
                including bank statements and verification of bank account ownership, and/or a credit or debit card
                to bill Service Fees. We may also collect information to verify financial condition and
                creditworthiness.</p>

            <p>Information about your Customers and Vendors. We may collect information from you about your
                Customers and Vendors, including but not limited to name, address, email address, phone number, TIN,
                and financial information, based on your use of the Service and payment instructions.</p>

            <p>Payment transaction information. When you request, make, receive, record, or otherwise process a
                payment through the easy invoice manager Service, we collect information about the payment
                transaction and the transacting parties, such as the date, time and location(s) of the transaction,
                identifying information of the sender and recipient, the payment or transfer amount(s), bank account
                information for the sender and/or recipient, a description of the transaction, and the Service Fees
                charged by easy invoice manager.</p>

            <p>Feedback. We collect information that you choose to provide to us in connection with your feedback
                about easy invoice manager or the easy invoice manager Service, including through your use of the
                easy invoice manager Service or your participation in easy invoice manager Marketing.</p>

            <p>Online forms. We collect the information that you provide to us through online forms, including but
                not limited to forms on our Website or social media forms, such as easy invoice manager webinar
                sign-up forms or LinkedIn forms.</p>

            <p>easy invoice manager marketing participant information. We collect the information that you provide
                voluntarily in connection with your participation in easy invoice manager Marketing, including but
                not limited to engagement at event booths, sweepstakes, contests, promotions, surveys, and
                referrals.</p>

            <p>Importing your contacts. If you choose to import contacts from your email account, including to
                invite those contacts to use the Service, we will collect the username and password for the linked
                email account, as well as the contact information for your contacts. We will only use this
                information for the purposes for which it is shared by you.</p>

            <p>Other. When you use the easy invoice manager Service or otherwise engage with easy invoice manager,
                even if you do not establish or use a easy invoice manager account, we may collect information about
                you, such as name, email address, phone, and mailing address. We may also collect information from
                you when you visit our Website.</p>

            <p>Information We Collect from Your Use of the easy invoice manager Service<br />
                Device information. We collect information about your device when you install, access, or use the
                easy invoice manager Service on that device. The device information that we collect may include IP
                address, hardware model, operating system information, easy invoice manager app version, browser
                information, and mobile network. Your device may also allow us to collect and use information
                received through device-based settings, such as access to your contacts, camera, or photos, based on
                your settings. See the &ldquo;How you can manage your privacy choices&rdquo; section below for
                additional information on managing your device settings.</p>

            <p>Geolocation information. When you use the Service, we collect the location of the device that you are
                using to access easy invoice manager.</p>

            <p>How you interact with the easy invoice manager Services. We collect information about how you access
                and use the Service, including but not limited to: your IP address; the domain name of the Internet
                Service Provider you use; and the date(s) and time(s) you access the Service; the pages you access
                and view; any term(s) you search; and the individual address of the device that you use to interact
                with the easy invoice manager Service.</p>

            <p>Information from third parties you choose to interact with through easy invoice manager. We collect
                information about you from third parties with whom you interact through the easy invoice manager
                Service, including but not limited to your Vendors or Customers. We may also collect information
                about you from third party services that are supported by, or sync or integrate with the Service,
                including but not limited to third-party data entry services or accounting software providers.</p>

            <p>Information We Collect about You from Third Parties<br />
                Identify verification. We collect information about you from third parties as required and permitted
                by law, including but not limited to for purposes of verifying your identity and/or complying with
                anti-money laundering and anti-terrorism financing laws, &ldquo;know your customer&rdquo;
                regulations, and OFAC sanctions requirements.</p>

            <p>Compliance and fraud. We collect information about you from third parties for purposes of fraud
                detection and prevention, in connection with certain types of investigations, or as otherwise
                permitted by law to ensure the safety and security of the Service.</p>

            <p>Address and Organization information. We collect information about you or your Organization from
                commercially available sources to ensure your account information, for example your address, is
                accurate and up-to-date.</p>

            <p>Marketing. We collect information about current and prospective users of the Service from third party
                services, including but not limited to lead generation services and providers of customer and lead
                data, as well as enriched data about visitors to our Website, all as permitted by law.</p>

            <p>How we use the information we collect<br />
                We use the information that we collect for purposes of:</p>

            <p>providing the easy invoice manager Service,</p>

            <p>improving the Service,</p>

            <p>maintaining the security of the Service and our network,</p>

            <p>marketing our products and services (unless you choose to opt out), and</p>

            <p>as required or permitted by law.</p>

            <p>To Provide the easy invoice manager Service<br />
                Registering your account. When you create a easy invoice manager account or enroll as a easy invoice
                manager account User, we use the information that we collect about you, including any identifying
                information or financial information, for purposes related to the review, establishment, provision,
                administration, maintenance and monitoring of your easy invoice manager account or your use of the
                Service. We also use this information to verify your identity and your eligibility to use the easy
                invoice manager Service, and to comply with applicable law.</p>

            <p>Providing our Service to you. We use the information that we collect about you, together with
                information that you provide about your Customers and Vendors and the content that you upload to the
                Service, to provide the Service to you in accordance with your instructions and easy invoice manager
                account settings and elections. We also use your information to process payments requested by you
                and to provide you with transaction history and account information.</p>

            <p>Providing customer service and technical support. We use your information, including your name, phone
                number, email address, account number, payment history and device information, to process and
                respond to your requests or inquiries, and to provide you with customer service, technical support,
                or software updates.</p>

            <p>Communicating with you. We will use your information to contact you about the Service or your easy
                invoice manager account, and to provide you with security, technical, support and administrative
                messages, including for purposes of multi-factor authentication.</p>

            <p>When contacting you by phone, we may use, and you consent to receive, as permitted by applicable law,
                informational autodialed calls and text messages, as described in our Terms of Service. If you wish
                to opt out of receiving autodialed calls or text messages from easy invoice manager, you can contact
                easy invoice manager Customer Support through our customer support portal. You understand that if
                you opt out of receiving informational autodialed calls or text messages, such as for multi-factor
                authentication, you may lose access to certain features and functionalities of the Service,
                including but not limited to the ability to request or send payments through the Service. easy
                invoice manager may, without further notice or warning and in its sole discretion, where permitted
                by law, monitor or record telephone conversations between easy invoice manager or its agents and you
                or anyone acting on your behalf, for quality control and training purposes or for easy invoice
                manager&rsquo;s protection. While your communications with easy invoice manager may be overheard,
                monitored, or recorded, not all telephone lines or calls may be recorded by easy invoice manager,
                and easy invoice manager does not guarantee that recordings of any particular telephone calls will
                be retained or retrievable.</p>

            <p>To Improve the easy invoice manager Service<br />
                Improving and developing the Service. We aggregate your information, including your payment
                transaction information and your feedback to easy invoice manager, with information from other easy
                invoice manager users and use that data to improve the Service, to develop new easy invoice manager
                products or features, and to enhance the quality of the Service. We use this information to provide
                you with a better experience, to administer the Service, to improve the quality and value of the
                Service, and to gather broad demographic information about how the Service is used.</p>

            <p>Links to other websites or applications. If you link to a third-party service, website or application
                through the Service, we may track whether the link has been followed to improve the quality of the
                Service and easy invoice manager&rsquo;s partnership activities. This Privacy Notice does not apply
                to and we are not responsible for any third-party services, websites or applications that are not
                owned or controlled by easy invoice manager, including those that link to the easy invoice manager
                Service. To understand how third parties process and protect your information, we recommend that you
                review their privacy policies, terms of use, and websites.</p>

            <p>To Maintain a Secure Environment<br />
                Protecting your account. We use the information we collect from you to prevent, detect, investigate,
                and report fraud or security incidents related to your use of the Service or your easy invoice
                manager account. We use your information to investigate any error, unauthorized transaction, or
                other fraud or security incident that we discover or that you report to us.</p>

            <p>Ensuring the reliability, safety and security of the Service. We use the information that we collect
                to comply with and enforce our Terms of Service and all laws and regulations applicable to the
                Service. We use the information that we collect to secure and protect the integrity of our network,
                prevent unauthorized access to the Service, help diagnose and troubleshoot potential hardware
                malfunctions, and otherwise secure the Service.</p>

            <p>Marketing and Promotional Purposes<br />
                Marketing and advertising. We use the information that we collect about you to market the Service to
                you, and to communicate with you about easy invoice manager products or features, or easy invoice
                manager Marketing, that may be of interest to you. If we send you a marketing email, we will provide
                you with information on opting out of future marketing emails or communications from us. If you opt
                out, we can continue to send you informational communications relating to the use of the easy
                invoice manager Service, such as transaction receipts or administrative messages about your easy
                invoice manager account. We may also use information about you for our marketing purposes, including
                to identify other similar prospective customers who may be interested in the Service.</p>

            <p>Referrals. If you refer another person to the easy invoice manager Service, we will collect a name
                and email address for the referral. We will use this information to send an email invitation to use
                easy invoice manager to the person you are referring. easy invoice manager may retain the referral
                information, but solely for the purpose of tracking the success of our referral program.</p>

            <p>Sweepstakes, contests, and other promotions. We may use the information that you voluntarily provide
                in connection with a sweepstakes, contest or other promotion (&ldquo;Promotion&rdquo;) sponsored by
                easy invoice manager in accordance with the official rules for the Promotion.</p>

            <p>As Required or Permitted by Law<br />
                We may use the information that we collect about you as required or permitted by law. Such uses
                include but are not limited to compliance with anti-money laundering and anti-terrorism financing
                laws, &ldquo;know your customer&rdquo; regulations, and OFAC sanctions requirements.</p>

            <p>How we share the information that we collect<br />
                We share your information:</p>

            <p>within the easy invoice manager corporate family,</p>

            <p>with third parties that you authorize,</p>

            <p>with our partners and service providers,</p>

            <p>as required or permitted by law, and</p>

            <p>with your consent.</p>

            <p>Within the easy invoice manager Corporate Family<br />
                We may share your information within our corporate family, including, but not limited to Easy
                invoice manager, LLC, Easy invoice manager, LLC and any affiliates or subsidiaries of these
                companies or our parent company, easy invoice manager Holdings, Inc. (collectively, &ldquo;easy
                invoice manager Group Companies&rdquo;) for the purposes identified in the easy invoice manager
                Privacy Notice. As we grow and expand our Services and offer our Services in other countries, we may
                add to our corporate family.</p>

            <p>With Third Parties That You Authorize<br />
                With other Users on your easy invoice manager account. If you are the Administrator for a easy
                invoice manager account, we will share your information with your Users in accordance with your
                account settings and preferences. If you are a easy invoice manager User, the account Administrator
                can access your information and change certain of your settings, and easy invoice manager may send
                information about your use of the Service to the Administrator.</p>

            <p>With your authorized service providers. If you sign up or authorize your accountant or another third
                party service provider to use or access the Service on your behalf or to use your easy invoice
                manager account, including by linking your easy invoice manager account to a Console, we will share
                your information with that authorized third party.</p>

            <p>With third parties you choose to interact with through easy invoice manager. We share your
                information with third parties that you choose to interact with through the easy invoice manager
                Service, including but not limited to your Vendors or Customers. We may also share your information
                with third party services that are supported by and integrate or sync with the Service, based on
                your choices and account settings, such third-party data entry services, accounting software
                providers, or social media sites that link to the Service. This Privacy Notice does not apply to
                collection, storage, or other processing of your information by third parties. The privacy practices
                of third parties, such as accounting software providers or social media sites, are governed solely
                by their privacy policies and terms of use. To understand how third parties process and protect your
                information, we recommend that you review their privacy policies, terms of use, and websites.</p>

            <p>Fraud prevention. We may share information about changes to your easy invoice manager account, such
                as changes to a bank account or to your address, with your Vendors or Customers for purposes of
                fraud prevention and detection.</p>

            <p>With others on the easy invoice manager network, based on your choices. Based on your profile
                visibility choices, we may share certain information about you with members of the easy invoice
                manager payment network. See Controlling your profile visibility for more information. The
                processing of your information by any other member of the easy invoice manager network with whom you
                choose to share your information, based on your profile settings, is governed solely by the privacy
                policy of the third party.</p>

            <p>With Our Third Party Service Providers and Partners<br />
                With our third-party service providers and business partners. We may share your information with our
                third-party service providers and business partners as needed to provide, maintain, support, secure,
                and improve the Service. Services provided to easy invoice manager by these third-party providers
                include, but are not limited to, identity verification, payment processing, fraud prevention,
                database management, data storage, web analytics, and marketing services. Our third-party service
                providers have access to your information only for the purposes of performing specific tasks on our
                behalf in compliance with our Terms of Service, and are obligated not to use or disclose your
                information for any other purpose or in any manner that is inconsistent with this Privacy Notice.
            </p>

            <p>For example, easy invoice manager may use Plaid Technologies (&ldquo;Plaid&rdquo;) to gather certain
                information about you from financial institutions. By using the Service, you grant us and Plaid the
                right, power, and authority to access and transmit the information obtained about you from financial
                institutions for purposes related to the easy invoice manager Service. This Privacy Notice does not
                apply to collection, storage or other processing of your information by Plaid, which is governed by
                solely by the Plaid Privacy Policy. Another example is that if you access or use the Google Maps
                Platform (&ldquo;Google Maps&rdquo;) through the Service, your use of Google Maps is subject to
                Google&rsquo;s Terms of Service and the Google Privacy Policy.</p>

            <p>Aggregated and non-identifying information. We share aggregated and anonymized information with third
                parties for industry and clickstream analysis, demographic profiling, and other purposes. Aggregated
                and anonymized information shared for these purposes will not contain personal information that can
                be associated with you.</p>

            <p>As Required or Permitted by Law<br />
                As required by law. We will share your information with third parties as required by law. easy
                invoice manager cooperates with government, law enforcement, and private third party requests for
                information as we, in our sole discretion, determine is reasonably necessary to comply with any
                applicable law, regulation, government request or legal process, including but not limited to
                subpoenas.</p>

            <p>As permitted by law. We may share your personal information as permitted by law, including, but not
                limited to, as we, in our sole discretion, believe necessary or appropriate to ensure the security
                and confidentiality of the Service, to prevent, detect or respond to fraud or security incidents, to
                respond to claims and legal process, to protect the property or rights of easy invoice manager or a
                third party, to protect the safety of the public or any person, or to prevent or stop any illegal,
                unethical or legally actionable activity.</p>

            <p>In connection with business transactions or corporate changes. The information that we collect in
                connection with the Service is a business asset. As a result, we may share or transfer your
                information if we enter bankruptcy or are party to a business transaction, such as a merger,
                acquisition, reorganization, or asset sale.</p>

            <p>With Your Consent<br />
                We may share your information at your direction or with your consent.</p>

            <p>How long we retain information<br />
                easy invoice manager will retain your information in accordance with our internal records retention
                and management policies and procedures, including as necessary to provide you with the Service or
                administer your easy invoice manager com account, or as long as necessary to comply with our legal
                obligations, resolve disputes, reserve our legal rights, and enforce our agreements.</p>

            <p>How to cancel or make changes to your easy invoice manager account<br />
                You can update, correct, or restrict processing of the information associated with your easy invoice
                manager account at any time. You can make such changes through the Service, or you can request
                changes to your account information by contacting easy invoice manager Customer Support through our
                customer support portal. You understand that if you restrict processing of the information
                associated with your easy invoice manager account, you may lose access to certain features and
                functionalities of the Service, including but not limited to the ability to request or send payments
                through the Service.</p>

            <p>You may cancel your easy invoice manager account at any time through the Service, or by contacting
                easy invoice manager Customer Support through our customer support portal. See our Terms of Service
                for more information on canceling your easy invoice manager account. After cancellation of your
                account, this Privacy Notice will continue to apply to any information collected about you by easy
                invoice manager.</p>

            <p>Cookies and third party technologies<br />
                easy invoice manager and our third-party service providers set and use cookies and similar
                technologies to store and manage user preferences, enable content, gather analytic and usage data,
                and deliver targeted advertising. A cookie is a small text file that is placed on a computer or
                other device, and is used to identify the device and to collect information.</p>

            <p>Cookies are typically assigned to one of the following categories, depending on their function and
                intended purpose:</p>

            <p>Essential cookies enable you to navigate our Website and to use the Service. Without these cookies,
                our Website will not perform as smoothly for you as we would like, and we may not be able to provide
                certain core functions and features.</p>

            <p>Analytics cookies collect information about the use of our Website and application, and enable us to
                improve the way our Service works. For example, analytics cookies show us the most frequently
                visited pages and analyze site traffic. We use them to analyze broad trends and patterns of usage on
                our Website, rather than to monitor the usage of any particular individual.</p>

            <p>We use third-party service providers, including Google Analytics, to analyze the use of our Website.
                You can opt-out of the use of web analysis at any time either by downloading and installing a
                Browser Plugin offered by Google or by configuring your browser to delete and reject cookies.</p>

            <p>Social Media cookies collect information about your visits to our Website, but only when you are
                logged in to your social media account(s).</p>

            <p>Customer interaction cookies allow us to communicate with you, including for purposes of real-time
                communication through our chat feature.</p>

            <p>Marketing cookies track browsing habits and are used to deliver targeted (interest-based)
                advertising. You can opt out of receiving interest-based ads for web properties here (Digital
                Advertising Alliance&rsquo;s WebChoices).</p>

            <p>Most browsers are set up to accept cookies automatically. You can deactivate the storing of cookies
                or adjust your browser to inform you before the cookie is stored on your computer. Some browsers
                have &ldquo;Do Not Track&rdquo; features that allow you to tell websites not to track you. These
                features are not all uniform. easy invoice manager does not currently respond to &ldquo;Do Not
                Track&rdquo; signals.</p>

            <p>Your choices and privacy rights<br />
                Controlling your profile visibility. When you create a easy invoice manager account, you will create
                an account profile. The settings that you choose for your profile will control how your profile
                information is shared within the easy invoice manager payment network or with the public. See
                Network Profile Visibility Settings for details about your profile visibility options.</p>

            <p>Updating your account information. You can access, update, change, or correct your account
                information at any time by accessing your profile through the Service or by contacting easy invoice
                manager Customer Support through our customer support portal. You can also change your email
                preferences through your easy invoice manager account profile settings at any time.</p>

            <p>Managing marketing communications from us. We will honor any request from you to opt out of receiving
                marketing communications, including emails and text messages.</p>

            <p>To opt out of receiving marketing emails from easy invoice manager, click the
                &ldquo;unsubscribe&rdquo; link at the bottom of a easy invoice manager marketing email.</p>

            <p>For marketing text (SMS) messages, reply &ldquo;STOP&rdquo; or follow the instructions in the
                message.</p>

            <p>Please note that, even if you choose not to receive marketing communications from easy invoice
                manager, we can continue to send you informational communications related to your use of the Service
                or your easy invoice manager account.</p>

            <p>Device settings. The device that you use to interact with the Service may have setting options that
                can be enabled or disabled to allow the easy invoice manager Service to access and use certain
                information and features on your device, such as mobile app push notifications, your contacts,
                camera, or photos. You can adjust your device setting if you do not want easy invoice manager or the
                Service to have access to this information or these features. You can also adjust your device or
                browser settings to block or provide notice of Cookies on your browser or mobile device. Please
                note, however, that disabling or limiting certain cookie settings on your device or browser may
                prevent you from interacting with some or all of the features of the Service, or may require you to
                do additional authentication. Learn more about cookies here.</p>

            <p>Opting out of targeted online ads. We use cookies to gather information about your activities in
                order to provide you with targeted advertising based on your online activity and interests. You can
                opt out of receiving targeted ads by visiting the Digital Advertising Alliance&rsquo;s opt-out page.
                Learn more here. You can also opt out of targeted advertising on the following channels using the
                included links: Twitter; Facebook; LinkedIn; Google; Bing.</p>

            <p>If you sync or connect your easy invoice manager account with third party services. If you choose to
                sync or connect your easy invoice manager account with third-party services, such as accounting
                software services or social media sites, we will share your information with the third-party service
                provider. If you do not want us to share your information with these third parties, you can choose
                not to sync or connect your easy invoice manager account with the third party service.</p>

            <p>Community forums. easy invoice manager may offer blogs and publicly accessible community forums. You
                should be aware that any information you provide in these forums may be read, collected, and used by
                others who access them. To request removal of your information from a blog or community forum,
                contact easy invoice manager Customer Support through our customer support portal.</p>

            <p>Supplemental privacy notice. Residents of some states and countries have additional privacy rights.
                Information on these rights are provided in the following supplemental privacy notices:</p>

            <p>Supplemental Privacy Notice to California Consumers</p>

            <p>How we protect the security of your information<br />
                easy invoice manager is committed to protecting the security and privacy of your information. easy
                invoice manager recognizes the importance and confidentiality of your information. We have
                implemented technical, administrative, and physical security measures designed to protect your
                information from unauthorized access, disclosure, use, and modification. easy invoice manager
                maintains industry standard attestations and has formal SSAE18 SOC1, SOC2 and SOC3 attestation
                reports. Please be aware however that no security measures are perfect or impenetrable.</p>

            <p>International transfers<br />
                Your information may be transferred to and maintained on computers located outside of your state,
                province, country or other governmental jurisdiction where the privacy laws may not be as protective
                as those in your jurisdiction. If you are located outside the United States and choose to provide
                information to us, we may transfer such information to the United States or other jurisdictions for
                processing. Your submission of such information represents your consent to that transfer.</p>

            <p>Notices to consumers<br />
                easy invoice manager&rsquo;s E-SIGN Disclosure and Consent</p>

            <p>Consumer Privacy Notice</p>

            <p>Information for children under the age of 18<br />
                Persons under the age of 18 year are not eligible to use, access or otherwise interact with easy
                invoice manager or the Service. If we become aware that a child under the age of 18 has created an
                account with us or is otherwise using the Service, we will take steps to remove access, disable the
                account, and delete any information related to the child as soon as reasonably possible.</p>

            <p>Updates to this Privacy Notice<br />
                This Privacy Notice may be updated periodically and will be posted on the Website, indicating when
                it was last updated. If there are material changes to our Privacy Notice, we will post a notice on
                our
                website and/or provide other notice as required by law. If you object to any changes to this
                Privacy Notice, you can cancel your account at any time. See the &ldquo;
                Canceling or making changes to your account&rdquo; section above for more information on canceling
                your account.</p>

        </div>

    </div>
</main>

{{ marketing_footer(request) }}

{% endblock %}